body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#users-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

#favorits-list li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 10px;
}

#search-input:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    body {
        padding: 10px;
        text-align: center;
    }

    #users-list li {
        padding: 5px;
    }

    #search-input {
       width: 100%;
    }
}

.loader {
    width: 150px;
    height: 25px;
    background-image: linear-gradient(to right, #5095c4, #84ceff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: progress 2s linear forwards;
    margin: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

@keyframes progress {
    0% {
        width: 0%;
        background-position: left;
    }

    100% {
        width: 100%;
        background-position: right;
    }
}